.alert {
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 240px;
    text-align: center;
    margin: 5px 0;
}
.alert-success {
    border: 2px solid #b6d5b6;
    background-color: #e9f6eb;
    color: #30713b;
}
.alert-warning {
    border: 2px solid #dfb887;
    background-color: #fff4e7;
    color: #a87520;
}
.alert-error {
    border: 2px solid #ff9c9c;
    background-color: #ffe0e0;
    color: #d50808;
}
.alert-well {
    border: 2px solid #2da3e8;
    background-color: #b3e5ff;
    color: #1086d1;
}
