.archive-layout {
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        min-height: 0;
        height: 100%;
    }
    .groups-compact {
        display: grid;
        grid-template-columns: 40px auto 40px;
        gap: 2px;
        align-items: baseline;
        &__left, &__right {
            background-color: #F1F5F9;
            border-radius: @border-radius;
            cursor: pointer;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .groups-full {
        display: none;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap:5px;
            height: 100%;
            min-height: 0;
            overflow: hidden;
        }
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-shrink: 0;
        }
        &__left, &__right {
            background-color: #F1F5F9;
            border-radius: @border-radius;
            cursor: pointer;
        }
        &__selected_group {
            padding: 0 5px;
            text-align: center;
        }
        &__list {
            flex: 1 1 auto;
            min-height: 0;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 3px;
            .group-item {
                border: 1px solid #ccc;
                box-sizing: border-box;
                border-radius: 3px;
                padding: 2px 4px;
            }
        }
    }
    .products {
        display: flex;
        flex-direction: column;
        gap: 7px;
        overflow-y: auto;
        min-height: 0;
        .product-item {
            padding: 10px;
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: @border-radius;
            &__name {
                font-weight: 500;
                font-size: 1.05rem;
            }
            &__description {
                margin-top: auto;   /* Прижимает элемент к самому низу */
                align-self: flex-end;
                font-weight: 400;
                font-size: 0.85rem;
            }
        }
    }
}
