.notice {
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: @border-radius;
    &__notice {
        border: 2px solid #bce8f1;
        background-color: #d9edf7;
        color: @text-color;
    }
    &__warning {
        border: 2px solid #fbdbb7;
        background-color: #fff4e7;
        color: #e39a26;
    }
    &__error {
        border: 2px solid #ff9c9c;
        background-color: #ffe0e0;
        color: #d50808;
    }
}
