@border-color: #bce8f1;
@background-color-light: #fbfeff;
@border-radius: 5px;
@header-background: #d9edf7;
/** buttons */
@button-default-color: #fff;
@button-primary-color: #1a88ff;
@text-color: #275870;
@input-border-color: #bbb;
